<?xml version="1.0"?>
<!--
/**
 * Copyright © EAdesign by Eco Active S.R.L.,All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Eadesigndev_Pdfgenerator::templates" title="PDF Generator" module="Eadesigndev_Pdfgenerator" sortOrder="10" resource="Eadesigndev_Pdfgenerator::templates" parent="Eadesigndev_Eacore::eadesign"/>
        <add id="Eadesigndev_Pdfgenerator::template_list" title="Manage PDF Templates" module="Eadesigndev_Pdfgenerator" sortOrder="10" parent="Eadesigndev_Pdfgenerator::templates" action="pdfgenerator/templates" resource="Eadesigndev_Pdfgenerator::templates"/>
    </menu>
</config>
