<?xml version="1.0"?>
<!--
/**
 * Copyright © EAdesign by Eco Active S.R.L.,All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="pdfgenerator" frontName="pdfgenerator">
            <module name="Eadesigndev_Pdfgenerator" before="Magento_Backend"/>
        </route>
    </router>
</config>
